table.table-bordered {
    border: 1px solid #000;
}

table.table-bordered > thead > tr > th {
    border: 1px solid #000;
}

table.table-bordered > tbody > tr > td {
    border: 1px solid #000;
}
table.table-bordered > tfoot > tr > td {
    border: 1px solid #000;
}

.o_list_view  td, .o_list_view th {
    white-space: nowrap;
}
.o_list_view  > tbody > tr > td.o_handle_cell {
    white-space: nowrap;
}

.equal-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.equal-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}